<footer id="footer" class="clearfix">

	<div class="container">

		<div class="three-fourth">

			<nav id="footer-nav" class="clearfix">

				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="{{ site.baseurl }}/about">About Us</a></li>
					<li><a href="{{ site.baseurl }}/services">Services</a></li>
					<li><a href="{{ site.baseurl }}/locations">Locations</a></li>
					<li><a href="{{ site.baseurl }}/contact">Contact</a></li>
					<li><a href="{{ site.baseurl }}/moving_tips">Moving Tips</a></li>
				</ul>
				
			</nav><!-- end #footer-nav -->

			<ul class="contact-info">
				<li class="address">18 Margaret Street, Brighton, BN2 1TS</li>
				<li class="phone">01273 921705</li>
				<li class="email"><a href="mailto:info@dbmoves.co.uk">info@dbmoves.co.uk</a></li>
			</ul><!-- end .contact-info -->
			
		</div><!-- end .three-fourth -->
		
	</div><!-- end .container -->

</footer><!-- end #footer -->

<footer id="footer-bottom" class="clearfix">

	<div class="container">

		<ul>
			<li>© 2014 DBMoves</li>
			<li><a href="{{ site.baseurl }}/policy">Privacy Policy</a></li>
		</ul>

	</div><!-- end .container -->

</footer><!-- end #footer-bottom -->